<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678129041417-drm8jc71jerho2fbpnlm93n0q91mr6or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678129041417-drm8jc71jerho2fbpnlm93n0q91mr6or</string>
	<key>API_KEY</key>
	<string>AIzaSyD2j6IDU446z8GJDeoYY4wT91OYkoe0CRs</string>
	<key>GCM_SENDER_ID</key>
	<string>678129041417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leoxtech.qNote</string>
	<key>PROJECT_ID</key>
	<string>q-note-67281</string>
	<key>STORAGE_BUCKET</key>
	<string>q-note-67281.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678129041417:ios:89a8d94a529928c0b138d8</string>
</dict>
</plist>